html, body { height: 100%; }

        body {
          display: flex;
          align-items: center;
          background-color: #fff;
          overflow: hidden;
          font-family: "Red Hat Display";
          color: #2c3b48;
        }

        .container {
          max-width: 500px;
          margin: 0 auto;
          padding: 50px;
        }

        .socials {
            margin: 0;
            padding: 2px 10px;
            margin-top: 40px;
/*            padding: 3px;*/
            background-color: #2c3b48;
            transform: rotate(-3deg);
            border-radius: 3px;
        }

        .socials li {
            color: #ff0000;
        }

        .background {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
        }

        h1 {
            font-weight: 700;
            text-transform: uppercase;
        }

        ul {
            margin: 0;
            padding:0;

        }

        li {
         list-style-type: none;
         display: inline;
         padding-left: 10px;
         margin-right: 20px;
        }

        .icon {
            color:   #fff; #2c3b48;
            font-size: 1.2rem;
        }

        p {
            margin: 0;
            font-weight: 400;
        }

        .jobs {
            margin-top:25px;
        }

        .small {
            font-weight: 400;
            font-size: 13px;
        }

        a {
            color: #2c3b48;
        }

        .nounderline {
            text-decoration: none
        }
